/[[]OLC1]Proyecto_Servidor/nbproject/private/
/[[]OLC1]Proyecto_Servidor/build/
/[[]Compi1]Proyecto1_201602713/[[]OLC1]Proyecto_Servidor/build/
/[[]Compi1]Proyecto1_201602713/[[]OLC1]Proyecto_Servidor/nbproject/private/
/[[]OLC1]Practica1 - Copy/build/
/[[]OLC1]Practica1 - Copy/nbproject/private/